APP_ENV=development
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
BOT_INTERNET_CHECK_HOSTS=google.com,ya.ru,sueddeutsche.de
BOT_PING_HOSTS=127.0.0.1
BOT_NUT_IP=127.0.0.1
BOT_NUT_NAME=ups
BOT_NUT_USER=ups
BOT_NUT_PASS=upsmon
BOT_NUT_WARN=245
BOT_NUT_ERR=253
GAMMU_DB_CONNECTION=
WEB_ADDR=0.0.0.0:7054
TELEGRAM_GITLAB_CHAT_ID=
GITLAB_TOKEN=
