APP_ENV=development
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
BOT_PING_HOSTS=127.0.0.1
BOT_NUT_IP=127.0.0.1
BOT_NUT_NAME=ups
BOT_NUT_USER=ups
BOT_NUT_PASS=upsmon
BOT_NUT_WARN=245
BOT_NUT_ERR=253
BOT_ZTE_HOST=192.168.0.1
BOT_ZTE_PASS=
