APP_ENV=development
TELEGRAM_TOKEN=
BOT_PING_HOSTS=127.0.0.1
BOT_NUT_IP=127.0.0.1
BOT_NUT_NAME=ups
BOT_NUT_USER=ups
BOT_NUT_PASS=upsmon
TELEGRAM_GITLAB_CHAT_ID=
GITLAB_WEBHOOK_ADDR=0.0.0.0:7054
GITLAB_TOKEN=
