[Unit]
Description=Telegram Shell Daemon
After=network-online.target

[Service]
ExecStart=/usr/local/bin/tgshd
EnvironmentFile=/usr/local/etc/tgshd.conf
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
